
/*
Yellow darker: #f5c20f
Yellow lighter: #fbe596
*/


body {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    margin: 0;
}


html, body {
    height: 100%;
    margin: 0;
}

main {
    overflow: auto;
}
.header {
    display: flex;
    justify-content: space-between;
}

/************  grid  main & footer************/
.container {
    display: grid;
    grid-template-areas:
    "c3 c3"
    "c4 c4"
}

main {
    grid-area: c3;
}

footer {
    grid-area: c4;
}

footer {
    overflow: auto;
    font-size: small;
    text-align: center;
    margin-bottom: 1em;
    color: gray;
}

footer img {
    width: 2em;
    height: 2em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    opacity: 0.5;
    border-radius: 50%;
}

footer img:hover {
    opacity: 1;
    border-radius: 0;
}


/************* Navigation *****************/
nav.navBar {
    margin: 2em;
    text-align: right;
    font-size: 1em;
}

.menuVisible {
    font-size: 2em;
    font-weight: bold;
}

ul li {
    list-style: none; /*otherwise we get bullet points */
    position: relative;
    text-decoration: none;
    margin-right: 7em;

}

li a {
    color: #ffff;
}

li a:hover {
    color: #f5c20f;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 1em;
    padding-right: 2em;
    left: 0;
    background: black;
    color: #f5c20f;
    text-align: left;

}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible; /*shows when hovered*/
    opacity: 1;
    display: block;
    min-width: 3em;
    text-align: right;
    padding-top: 1em;
    margin-right: 5em;
}

ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
    border-style: none;
}

ul li ul li a:hover {
    padding-left: 1em;
    border-left: 0.5em solid #fbe596;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

ul li ul li a {
    transition: all 0.5s ease;
}

/*******************************************/
/**************** QUIZ ********************/
/*****************************************/
.quizContainer {
    background-color: white;
    padding: 2em;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 2em;
    color: black;
    align-content: center;
    text-align: center;
}

.question {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
}


.aContainer button {
    width: 95%;
    background-color: #f5c20f;
    color: black;
    border: none;
    display: block;
    font-size: 0.9rem;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    padding: 2%;
    margin-inside: 1%;
    border-radius: 2em;
    line-height: 2em;
}


.aContainer button:hover {
    background-color: black;
    font-weight: bold;
    scale: 1.1;
    background-image: linear-gradient(
            to right,
            #E7484F 0%,
            #F68B1D 25%,
            #FCED00 50%,
            #F68B1D 75%,
            #E7484F 100%
    );
    animation: slidebg 2s linear;
}

@keyframes slidebg { /* movement (background position) */
    to {
        background-position: 50vw;
    }
}


/*******************************************/
/************ RESULTS PAGE ****************/
/*****************************************/
/* Parts of results page are handed by
   custom material ui theme found at:
    /src/customTheme.js     */


.result {
    text-align: center;
}

.categoryName {
    color: #f5c20f;
    text-transform: uppercase;
    font-size: 3.5em; /* change to maybe 1em in respo*/
}
.textAroundCategory {
    font-size: 1.5em; /*change in respo */
}
.restaurantTitle {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
.restaurantDescription {

}
.restaurantLocation {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: grey;
}

/*******************************************/
/*********** RESPONSIVENESS ***************/
/*****************************************/
/* Big part of the responsiveness of this website comes from material ui components
 Results page: for screens under 870: it changes from 2 to 1 restaurant per line*/


@media only screen and (max-width: 530px) {
    .header {
        display: flow;
     }


    nav.navBar {
        text-align: center;
        margin-top: -2em;
    }
    .menuVisible {
        font-size: 1.5em;
        font-weight: bold;
    }


    ul li { /* "menu when opened */
        margin-right: 0;
        position: center;

    }


    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;


    }
}