body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-inline: clip;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
Yellow darker: #f5c20f
Yellow lighter: #fbe596
*/
body {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    margin: 0;
}

#logo {
    /*width: 200px;
    height: 75px;*/
    padding-left: 25px;
    padding-top: 10px;

}

html, body {
    height: 100%;
    margin: 0;
}

main {
    overflow: auto;
}

/************  grid  ************/
.container {
    display: grid;
    grid-template-areas:
    "c1 c2"
    "c3 c3"
    "c4 c4"
}
header { grid-area: c1;}
nav { grid-area: c2;}
main { grid-area: c3;}
footer { grid-area: c4; }


footer {
    overflow: auto;
    font-size: small;
    text-align: center;
    margin-bottom: 1em;
    color: gray;

}

footer img {
    width: 2em;
    height: 2em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    opacity: 0.5;
    border-radius: 50%;
}

footer img:hover {
    opacity: 1;
    border-radius: 0;

}


/************* menu *****************/
nav.primary-navigation {
    margin: 2em;
    display: block;
    text-align: right;
    font-size: 1em; }

.menuVisible {
    font-size: 2em;
    font-weight: bold;
}

ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin-right: 5.5em;

}

li a {
    color: #ffff;
}

li a:hover {
    color: #f5c20f;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 1em;
    padding-right: 2em;
    left: 0;
    background: black;
    color: #f5c20f;
    text-align: left;

}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 3em;
    text-align: right;
    padding-top: 1em;
    margin-right: 5em;
}

ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
    border-style: none;
}

ul li ul li a:hover {
    padding-left: 1em;
    border-left: 0.5em solid #fbe596;
    transition: all 0.3s ease;
}

a { text-decoration: none;
}
a:hover {
    color: white;
}

ul li ul li a { transition: all 0.5s ease; }





/* QUIZ Style */
.quizContainer {
    background-color: white;
    padding: 2em;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 2em;
    color: black;
    align-content: center;
    text-align: center;

}
.qContainer {

}

.question{
    font-size: 2em;
    padding-bottom: 0.5em;
    font-weight: bold;
}
.questionCount{

}
.aContainer button {
    width: 95%;
    background-color: #f5c20f;
    color: black;
    border: none;
    display: block;
    font-size: 0.9rem;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    padding: 2%;
    margin-inside: 1%;
    border-radius: 2em;
    line-height: 2em;


}


.aContainer button:hover {
    background-color: black;
    font-weight: bold;
    scale: 1.1;
    background-image: linear-gradient(
            to right,
            #E7484F 0%,
            #F68B1D 25%,
            #FCED00 50%,
            #F68B1D 75%,
            #E7484F 100%

    );
    animation:slidebg 2s linear;
}

@keyframes slidebg { /* movement (background position) */
    to {
        background-position:50vw;
    }
}



/* ////////RESULTS PAGE ////////// */
.results {
    align-content: center;
    justify-content: center;
}


.restaurantImage {
    width: 100px;
    height: 100px;
    padding: 5px;
}
/************  grid  ************/
.restaurant {
    display: grid;
    grid-template-areas:
    "c1 c2 c2"
    "c1 c3 c3"
    "c1 c4 c4";

}
.restaurantImage     {grid-area: c1;}
.restaurantTitle   {grid-area: c2;}
.restaurantDescription   {grid-area: c3;}
.restaurantLocation {grid-area: c4;}

.restaurant {
    max-width: 80%;
    padding: 10px;
    margin-outside: 10px;
    align-items: initial;

}

