body {
    background-color: black;
    color: white;
}
/* yellows #fbe596; f5c20f */
/* TODO: Responsiveness!*/
.container {
    margin: auto; /* how to center*/
}
.middle-menu button {
    background-color: #ffff;
    color: black;
    font-size: 1em;
    padding: 1%;
    margin: 1%;
    width: 30%;
    border-radius: 30em;
    display: block; /* Make the buttons appear below each other */
}

a, a:hover {
    text-decoration: none;
}
.middle-menu button:hover {
    background-color: #f5c20f;
    text-transform: uppercase;
    color: white;
}